@import 'tailwindcss';
@plugin "daisyui";


a.active {
 background-color: #65a30d; /* Tailwind's lime-600 */
 padding: 5px;
  text-decoration-color: blue; /* underline color Tailwind red-600 এর মতো */
  /* Tailwind: rounded */
border-radius: 0.25rem; /* 4px */

  font-weight: bold; /* bold text */
}
